/* .exerciseComponent {
    align-content: center;
    margin: 10px;
} */

/* .Repetitions{
    position: center;
} */

/* .repButton {
    align-content: center;
} */

/* .instructionButton {
   align-content: center;
   padding-top: 100px;
} */