/* .exerciseComponent {
    align-content: center;
    margin: 10px;
} */

.Repetitions{
    margin-top: 100px;
}
/* 
.repButton {
    margin-top: 100px;
} */

/* .instructionButton {
   align-content: center;
   padding-top: 100px;
} */